<div class="container">
  <!-- Zone de recherche -->
  <input type="text" class="form-control mb-3" placeholder="Rechercher une catégorie..." [(ngModel)]="titre">

  <div class="row">
    <!-- Boucle *ngFor pour afficher chaque catégorie -->
    <ng-container *ngFor="let categorie of categories | filter:titre">
      <!-- Condition *ngIf pour le filtrage des catégories -->
      <div class="col-md-4" style="margin-bottom: 20px;"
           *ngIf="titre === '' || categorie.title.toLowerCase() === titre.toLowerCase()">
        <!-- Data Binding pour l'image et le texte -->
        <img [src]="categorie.image" [alt]="categorie.title" class="img-fluid h-50 w-75" (click)="showDescription(categorie.description)">
        <h3 appHighlight>{{ categorie.title | uppercase }}</h3>
        <p>{{ categorie.description }}</p>

        <!-- Bouton visible seulement si la catégorie est disponible -->
        <button class="btn btn-primary" *ngIf="categorie.available">Voir produits</button>

        <!-- Message "Catégorie non disponible" affiché si la catégorie n'est pas disponible -->
        <p class="text-danger" *ngIf="!categorie.available">Catégorie non disponible</p>
      </div>
    </ng-container>
  </div>
</div>
