<div class="container">
  
  <input type="text" class="form-control mb-3" placeholder="Rechercher une catégorie..." [(ngModel)]="titre">

  <div class="row">
   
    <ng-container *ngFor="let categorie of categories | filter:titre">
     
      <div class="col-md-4" style="margin-bottom: 20px;"
         *ngIf="titre === '' || categorie.title.toLowerCase() === titre.toLowerCase()">
        <img [src]="categorie.image" [alt]="categorie.title" class="img-fluid h-50 w-75" (click)="showDescription(categorie.description)">
        <h3 appHighlight>{{ categorie.title | uppercase }}</h3>
        <p>{{ categorie.description }}</p>
        <button class="btn btn-primary" *ngIf="categorie.available">Voir produits</button>
        <p class="text-danger" *ngIf="!categorie.available">Catégorie non disponible</p>
      </div>
    </ng-container>
  </div>
</div>
