<!--<h1> {{ title }} </h1>​
​<h1>{{ getDateTime() }}</h1>
​<p>Le résultat est {{ isTrue ? 'Vrai' : 'Faux' }}</p>
<ul>
  <li *ngFor="let item of items; let i = index">{{ i }} - {{ item }}</li>
 </ul>
 <button (click)="onButtonClick()">Cliquez-moi</button>
 <input (input)="onInputChange($event)" />
<p>Vous avez saisi : {{ inputValue }}</p>
<button type="button" [disabled]="isAvailable">Send</button>
<img [src]="imgSource" [alt]="imgAlt">
<div [style.backgroundColor]="color">Categorie : {{ categorie }} </div>
<input type="text" [(ngModel)]="fname">
<p>Bonjour, {{ fname }}!</p>
<app-list-categories></app-list-categories>
<app-home></app-home> -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>